#sidbar {
  background-color: #f9f9f9;
  color:#428bca;
}

#sidbar p{
  color: #5b5b5b;
}

nav nav-tabs {

}
.well {

}
#ironsides{
  float:left;
  width:150px;
  margin-right:7px;
}
.benny{
  float:right;
  margin-left: 7px;
  width:150px;
}
.jqadam{
  float:right;
  margin-left: 7px;
  width:150px;
}
#wikilo{
  width:90%;
  margin: 12px 2px;
}
.read{
  margin-left:32%;
}
 #leftnav li:last-child {
   border-bottom: 1px solid #9e9e9e;
   padding-bottom: 7px;
 }
 #leftnav li {
   list-style-type: none;
   margin-left: -12px;
 }
